<div class="movie-container" *ngFor="let movie of masterFavList">
    <div class="movie-text">
        <h1 class="title">{{ movie.title }}</h1>
        <h2 class="release-date">Release Date: {{ movie.release_date }}</h2>
        <h2 class="rating">Rating: {{ movie.vote_average }}/10</h2>
        <i class="fas fa-trash-alt" (click)= "removeMovie(movie)"></i>
    </div>
    <div class="movie-poster">
        <img *ngIf="movie.poster_path" src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" alt="poster" [routerLink]="['/movie-list', movie.id]">
        <img *ngIf="!movie.poster_path" src="https://pbs.twimg.com/media/EiSJzUnVoAYb5WI.jpg" alt="" class="image">
    </div>
</div>
