<div class="movie-container" *ngFor="let movie of movieList">
  <div class="movie-text">
    <h1 class="title">{{ movie.title }}</h1>
    <h2 class="release-date">Release Date: {{ movie.release_date }}</h2>
    <h2 class="rating">Rating: {{ movie.vote_average }}/10</h2>
    <i class="far fa-heart" (click)="addToFavs(movie)" (click)="toggleHeart($event)" ></i>
  </div>
  <div class="movie-poster" *ngIf="movie.poster_path">
    <img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" alt="poster" [routerLink]="['/movie-list', movie.id]">
  </div>
  <div class="movie-poster" *ngIf="!movie.poster_path">
    <img src="https://pbs.twimg.com/media/EiSJzUnVoAYb5WI.jpg" alt="No poster image available" [routerLink]="['/movie-list', movie.id]">
  </div>
</div>