/* Mobile View Styling */
/* code here*/


/* Desktop View Styling */
@media screen and (min-width: 768px) {

    .movie-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: solid black 2px;
        border-radius: 10px;
        margin: 10px;
    }
    
    .movie-text {
        display: flex;
        flex-direction: column;
        width: 75%;
        padding: 20px;
    }
    
    .movie-poster {
        padding: 20px;
    }
    
    img {
        width: 200px;
        height: auto;
    }
    .far {
        font-size: 40px;
    }

    .title {
        display: block;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

    .release-date {
        display: block;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-style: italic;
        font-weight: 100;

}

    .rating {
        display: block;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-style: italic;
        font-weight: 100;
}
}