/* Mobile View Styling */
.movie-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    border: none;
    margin: 10px;
}

.movie-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 75%;
    padding: 20px;
}

img {
    width: 200px;
    height: auto;
    box-shadow: 10px 5px 5px gray;
    border-radius:10px;
}

i {
    display: flex;
    align-items: center;
    justify-content: center;
}

.far {
    font-size: 40px;
    color: red;
}

.fas {
    font-size: 40px;
    color: red;
}

.title,.release-date,.rating {
    display: none;
}

 
/* Desktop View Styling */
@media  only screen and (min-width: 768px) {

    .movie-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border: solid black 2px;
        border-radius: 10px;
        margin: 10px;
    }
    
    .movie-text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        width: 75%;
        padding: 20px;
    }
    
    .movie-poster {
        padding: 20px;
    }
    
    img {
        width: 200px;
        height: auto;

    }
    .far {
        font-size: 40px;
    }

    .title {
        display: block;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

    .release-date {
        display: block;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-style: italic;
        font-weight: 100;

}

    .rating {
        display: block;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-style: italic;
        font-weight: 100;
}
}