.container-1 {
display:flex;
/* justify-content: space-around;
align-items: center; */
}

.imagepath {
    display:flex;
}


.image {
border-radius: 15px;
height:auto;
width:auto;
}
li {
    
    font-size: 15px;
   color:black;
   font-family: 'Open Sans', sans-serif;
}


/* i{
   color: rgb(21, 156, 127); 
   padding: 10px;
   font-size: 180%;
} */
/* .watchlist{
    font-size: 180%;
    background-color: white;
    color:rgb(51, 30, 167);
    padding: 10px;
    margin:10px;
    border:none;
    outline: none;
} */