.container {
   
    display:flex;

    flex-direction: column;
     /* justify-content: space-around;  */
    align-items: center;
}

*{
    margin:0;
    padding:0;
}
.col{
    background-color: aliceblue;
    font-weight: 100;
    color: aliceblue;
    font-weight: 580%;
   

}

.image {
border-radius: 15px;
height:60vh;
width:85vw;
}
.imagepath {
    display:block;
}

i{
   color: rgb(21, 156, 127); 
   padding: 10px;
   font-size: 180%;
}
.watchlist{
    font-size: 180%;
    background-color: white;
    color:rgb(51, 30, 167);
    padding: 10px;
    margin:10px;
    border:none;
    outline: none;
}