<div class="containter-1">
    <div class ="imagepath">
    <img
    src="https://image.tmdb.org/t/p/w185/{{ movie.poster_path }}"
    class="image" /></div>
    <ul class= "col-">
     <li>Title:{{movie.title}}</li> 
      <li>Tagline: {{movie.tagline}}</li>
     <li>Overview: {{movie.overview}}</li> 
      <li>Release Date:{{movie.release_date}}</li>
      <li>Length:{{movie.runtime}}min</li>
     <li>Vote Average:{{movie.vote_average}}</li> 

       </ul>
    
       <!-- <i class="fas fa-plus"></i>
      <button class = "watchlist">
        Add to watchlist</button>  -->
    
</div>

