.imagepath {
  display: flexbox;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
  padding: 10px;
}

.image {
  box-shadow: 10px 5px 5px gray;
  border-radius: 15px;
  height: auto;
  width: 300px;
}
.title,
.length,
.tag,
.date,
.vote,
.topic {
  font-size: 20px;
  color: black;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.overview {
  display: none;
}

@media only screen and (min-width: 768px) {
  .imagepath {
    display: flex;
    justify-content: space-around;
    margin: 10px;
    padding: 10px;
  }

  .overview {
    display: flex;
    font-size: 20px;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  .image {
    box-shadow: 10px 5px 5px gray;
    border-radius: 15px;
    height: auto;
    width: 300px;
  }
}

li {
  list-style: none;
}

span {
  padding-left: 10px;
} 