body,html {
    margin: 0;
    padding: 10px;
    background-color: rgb(243, 165, 243);
    background-image: linear-gradient(to right, rgb(255, 0, 191) , rgb(0, 225, 255));
}
* {
    box-sizing: border-box;
}